extends ../layout
block styles
    link(rel='stylesheet', href='/stylesheets/courses.css')
block content
    h3 Курсы
        a(title="createCourse",class="btn btn-default btn-xs courses-linkelem", href="#{curPath}create")
            span(class="glyphicon glyphicon-plus")
    each crsArr, index in data
        include ./coursePeriod.jade