li
    a(href='#{curPath + crs.id}') #{crs.name}
    a(title="edit", class="btn btn-default btn-xs courses-linkelem", href="#{curPath + crs.id +'/edit'}")
        span(class="glyphicon glyphicon-pencil")